<!-- add "navbar-no-scroll" class to disable the scrolling of the sidebar menu -->
<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
    <li>&nbsp;</li>
        
    
	<li style="margin-top:30px">
        <a href="javascript:;">
            <i class="fa fa-bar-chart-o"></i>
			<span class="title">页面管理</span>
			<span class="arrow"></span>
		</a>
        <ul class="sub-menu">
            <li>
                <a href="#" class='ajaxify start'>
                	<i class="fa fa-bullhorn"></i>页面列表
                </a>
            </li>
            <li>
                <a href="#" class='ajaxify'>
                	<i class="fa fa-bullhorn"></i>新增页面
                </a>
            </li>
        </ul>
    </li>
    <li class="last">
        <a href="javascript:;">
            <i class="fa  fa-shopping-cart "></i>
			<span class="title">什么是热点图</span>
		</a>
    </li>
</ul>
          