<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html"> 
			<img src="/click-map/assets/admin/layout/img/logo.png" alt="logo" class="logo-default">
			</a>
			<div class="menu-toggler sidebar-toggler"></div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN HORIZANTAL MENU -->
		<!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
		<!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
		<div class="hor-menu hor-menu-light hidden-sm hidden-xs">
			<ul class="nav navbar-nav">
				<li class="classic-menu-dropdown">
					<a href="#">网站概况</a>
				</li>
				<li class="classic-menu-dropdown">
					<a href="#">基础运营</a>
				</li>
				<li class="mega-menu-dropdown">
					<a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
					网站热力图<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<!-- Content container to add padding -->
							<div class="mega-menu-content">
								<div class="row">
									            						<ul class="col-md-4 mega-menu-submenu">	
            							            							<li>
											<a href="/click-map/SDGqn70">
											<i class="fa fa-angle-right"></i>千年3</a>
										</li>
            							            							<li>
											<a href="/click-map/SDGcqwc79">
											<i class="fa fa-angle-right"></i>传奇外传</a>
										</li>
            							            							<li>
											<a href="/click-map/SDGdn89">
											<i class="fa fa-angle-right"></i>龙之谷论坛</a>
										</li>
            							            							<li>
											<a href="/click-map/SDGavata5">
											<i class="fa fa-angle-right"></i>AVATA论坛</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08111-01">
											<i class="fa fa-angle-right"></i>冠军足球经理</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08112-20">
											<i class="fa fa-angle-right"></i>星辰变论坛</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08112-30">
											<i class="fa fa-angle-right"></i>永恒之塔</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08111-20">
											<i class="fa fa-angle-right"></i>星辰变</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08113-10">
											<i class="fa fa-angle-right"></i>传奇世界2</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08129-01">
											<i class="fa fa-angle-right"></i>百战天虫</a>
										</li>
            							            						</ul>	
        							            						<ul class="col-md-4 mega-menu-submenu">	
            							            							<li>
											<a href="/click-map/SDGwft">
											<i class="fa fa-angle-right"></i>WFT</a>
										</li>
            							            							<li>
											<a href="/click-map/SDGjkyMA">
											<i class="fa fa-angle-right"></i>MA卡牌</a>
										</li>
            							            							<li>
											<a href="/click-map/SDGJky404">
											<i class="fa fa-angle-right"></i>404数据</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-MAadv">
											<i class="fa fa-angle-right"></i>MA官网</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08114-01">
											<i class="fa fa-angle-right"></i>MA手机官网</a>
										</li>
            							            							<li>
											<a href="/click-map/SDG-08115-01">
											<i class="fa fa-angle-right"></i>零世界</a>
										</li>
            							            						</ul>	
        															</div>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">监控检测</a>
				</li>
			</ul>
		</div>
		<!-- END HORIZANTAL MENU -->
		
	</div>
	<!-- END HEADER INNER -->
</div>