<div class="footer">
	<div class="wrap">
	    <ul class="clearfix">	    	
	    	<li><a href="/about/contact">联系我们</a></li>
	    	<li><a href="/about/entrepreneurs">用户指南</a></li>
	    	<!--<li class="qaw"><a href="javascript:;">Q&A</a></li>-->
	    	<li><a href="javascript:;">合作机构</a></li>
	    	<li class="link_b"><a href="/about/friend">友情链接</a></li>

	    </ul>
		<p>&copy;2014  北京原始会投资管理有限公司   YUANSHIHUI.COM  版权所有   京ICP备14027236号-1 </p>
	</div>
</div><!--footer end-->