<div class="header">
	<a href="/" class="logo"><img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/logo.png?v=20140508" title="北京原始会投资管理有限公司" alt="原始会" /></a>
	<div class="menuBar">
		<ul class="clearfix">
			<li><a href="/">首页</a></li>
			<li><a href="{{ path('web_project_item_list_page')}}">浏览项目</a></li>
			<li><a href="#">发起项目</a></li>
			<li><a href="{{ path('web_page_about_us')}}">关于我们</a></li>
		</ul>
	</div>
		<form id="se" name="se" action="/deal/list" method="post" wx-validator wx-validator-ajax >
			<span class="search">
				<a type="submit" href="###">
					<img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/icons.png?v=20140508" />
				</a>
				<input wx-validator-notip name="q" type="text" value=""  placeholder="输入关键词" />
			</span>
		</form>
	<div class="userbox">
		<a href="{{ path('web_user_login')}}" class="logon">登录</a>
		<a href="{{ path('web_user_register')}}" class="reg">注册</a>
	</div>
</div><!--header end-->