<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="google-site-verification" content="ut7BeTtfYcLMGQV17SBt-6isJj4QwdlXQLemK290nAs" /> 
<meta name="360-site-verification" content="e14ad415b8f36bb6cbfed7027688c5b3" />
<title>原始会</title>
<link rel="stylesheet" type="text/css" href="http://istatic.yuanshihui.com/angelpc/v2/static/css/base.css?v=20140508">
<link rel="stylesheet" type="text/css" href="http://istatic.yuanshihui.com/angelpc/v2/static/css/common.css?v=20140508">
<script src='http://istatic.yuanshihui.com/angelpc/v2/static/js/jquery-1.10.2.min.js?v=20140508'></script>
<script src='http://istatic.yuanshihui.com/angelpc/v2/static/js/wx.js?v=20140508' wx-main></script>
<script src='http://istatic.yuanshihui.com/angelpc/v2/static/js/wx.config.js?v=20140508'></script>
<script src='http://istatic.yuanshihui.com/angelpc/v2/static/js/common.js?v=20140508'></script>
</head>
<body>
<!--header static-->
{% block header %}
	{% include 'WebPageBundle:Layout:header.html.twig' %}
{% endblock %}

{% block body %}默认页面{% endblock %}

{% block footer %}
	{% include 'WebPageBundle:Layout:footer.html.twig' %}
{% endblock %}
</body>
</html>