{% extends 'WebPageBundle:Layout:layout.html.twig' %}
	
{% block body %}
<link rel="stylesheet" type="text/css" href="http://istatic.yuanshihui.com/angelpc/v2/static/css/details_page.css?v=20140508">
<!--mian-content statr-->
<div class="m-box-bg">
	<div class="wrap m-boxone clearfix">
        <div class="z-photo"><img src="http://ustatic.yuanshihui.com/attachment/201409/12/20/5412e606aeb3a_crop_120x120.jpg" title='秉鸿资本领投草原兴发' alt='秉鸿资本领投草原兴发'></div>
		<div class="z-content">
			<h2>秉鸿资本领投草原兴发</h2>
			<p>倾力打造全国性知名消费品牌和经销商网络</p>
			<p><span>已经有收入</span><span>50-150人</span><span>北京市－大兴区</span>
                    <span>仓储服务</span>
                </p>
        <p><a href="http://www.cyxf.com" target="_blank">http://www.cyxf.com</a></p>
		</div>
	</div>
</div>

<input type="hidden" value="359" id="dealId" name="dealId"/>
<input type="hidden" value="359" id="financeId" name="financeId"/>

<div class="wrap wrap_mt clearfix">
	<div class="m-left">
		<div class="m-subnav clearfix">
            <a class="z-selest" href="/deal/detail/dealId/359">项目介绍</a>
            <a class="" href="/deal/team/dealId/359">团队成员</a>
            <a class="" href="/deal/plan/dealId/359">融资信息</a>
            <a class="" href="/deal/comment/dealId/359">Q&A(2)</a>
            <a class=" border-r" href="/deal/dealitem/dealId/359">预约(1)</a>
		</div>
        <div class="m-boxtwo clearfix">

<div class="m-stisa" >
    <div class="m-landed bo_b">
        <p class="m-landed-op">您没有权限查看完整的项目信息</p>
        <p><a href="/user/login">登录</a></p>
    </div>
</div>


</div>
	</div>
    <div class="m-right">
	 <!-- 粉丝 end -->
		<div class="m-number">
			<h3>融资信息</h3>
            <div class="m-display-data">
			    <div class="clearfix">			    	
				    <div class="money-l p-l">
				    	<p class="f_s"><b>2500</b>万</p>
				    	<p class="f_m_s">目标金额</p>
				    </div>
				    <div class="money-l">
				    	<p class="f_s"><b>10</b>万</p>
				    	<p class="f_m_s">最小投资额</p>
				    </div>				
			    </div>
            			<!-- 预约中 start -->
			    <div class="s-progress">
			    	<div class="s-bar" style="width:0%;"></div>
			    </div>
			    <div class="z-calculate clearfix">
					<dl class="z-calculate-left">
						<dt>0%</dt>
						<dd>已达</dd>				
					</dl>
					<dl class="z-calculate-center">	
						<dt>10万</dt>
						<dd>预约金额</dd>				
					</dl>
					<dl class="z-calculate-right">	
						<dt>170天</dt>
						<dd>剩余时间</dd>								
					</dl>
			    </div>			    
			</div>
            </div>
                        <div class="u-button"><a href="/reserve/index/dealId/359">预约投资</a></div>
            			<!-- 预约中 end -->
            	</div>
</div>

        
  
</div>
<!--mian-content  end-->
{% endblock %}