{% extends 'WebPageBundle:Layout:layout.html.twig' %}
	
{% block body %}
<link rel="stylesheet" type="text/css" href="http://istatic.yuanshihui.com/angelpc/v2/static/css/contact.css?v=20140508">

<!-- content static -->
<div class="station m-padding clearfix">
   <div class="m-about-left">
       <p><img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/footer/pok_03.png?v=20140508"></p>
       <p class="m-said"><em>原始会</em>是网信金融旗下的股权众筹平台，致力于为投资人和创业者提供一站式投融资综合解决方案，帮助创业者迅速融到资金，帮助投资人发现优质项目。在这里您可以发布项目，并通过这个平台面向投资人融资，让投资人一起来众投。同时，我们还提供资源对接、宣传报道、可视化估值、财务预测、融资辅导等 优质的增值服务。我们的宗旨是让天下没有难融的项目，让天下没有投不出去的钱，实现多方共赢！</p>
   </div>
   <div class="m-about-right"><img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/footer/pok_05.jpg?v=20140508"></div>
</div>
<!-- content end -->	
{% endblock %}

