{% extends 'WebPageBundle:Layout:layout.html.twig' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="http://istatic.yuanshihui.com/angelpc/v2/static/css/index.css?v=20140508">
<div class="main">   
	<a class="step_btn step_pre" id="Js-banner-prev"></a>
	<a class="step_btn step_next" id="Js-banner-next"></a>
	<ul id="Js-banner">
				 <li><a href="/user/register"><img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/banner_01.jpg?v=20140508" title='原始会注册' alt="原始会" /></a> </li>
		   	                  		<li><a href="/deal/detail/dealId/215"><img src="http://ustatic.yuanshihui.com/attachment/201409/10/15/540ffc366d528.jpg" title='' alt=''/></a></li>
                   		                                  <li><a href="http://www.yuanshihui.com/article/detail/id/28"><img src="http://ustatic.yuanshihui.com/attachment/201409/12/17/5412c271dcc2d.jpg" title='' alt=''/></a></li>
                   		               		<li><a href="/deal/detail/dealId/198"><img src="http://ustatic.yuanshihui.com/attachment/201409/03/11/5406905677b36.jpg" title='' alt=''/></a></li>
                   		                                  <li><a href="http://iladyol.linkchic.com/html/lady-ipad/index.html"><img src="http://ustatic.yuanshihui.com/attachment/201408/23/09/53f7e8f81b172.jpg" title='' alt=''/></a></li>
                   			   	</ul>
	<div class="main_side"></div>
</div>
<!--banner end-->
<div class="project_important">
	<h1>重点推荐</h1>
	<div class="wrap">
	<div class="project_li">
	    <a class="btn_pre_span" id="Js-recommend-prev"><i class="btn_pre"></i></a>
	    <a class="btn_next_span" id="Js-recommend-next"><i class="btn_next"></i></a>
		<ul class="clearfix" id="important_recommend">
		  		  		  <div>
                               <li>
            <div class="project_figure">
            	        <a class="content" href="/deal/detail/dealId/677"><b class="order"></b><img src=" http://ustatic.yuanshihui.com/attachment/201409/10/18/54102212c2d59_crop_270x200.jpg" title='垂直社交网络——商会社交' alt='垂直社交网络——商会社交'></a>
	        			 <a href="/deal/detail/dealId/677"><h3 title="垂直社交网络——商会社交">垂直社交网络——商会社交</h3></a>
			 			 		     <span><i class="bj"></i>北京市</span>
			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 			 <span><i class="engery"></i>社区</span>
						
	
			</div>
						<div class="project_caption">
						<h6>融资金额:<span>800万</span></h6>
												<h4><span style='width:0%'></span></h4>
								                <ul class="target clearfix">
		                		                	<li class="b_w"><b>0%</b><span>已达</span></li>
		                    <li class="c"><b>0万</b><span>预约金额</span></li>
		                    <li class="change_margin"><b>177天</b><span>剩余时间</span></li>
		                		                </ul>
					</div>
           </li>
		                      		                       <li>
            <div class="project_figure">
            	        <a class="content" href="/deal/detail/dealId/647"><b class="order"></b><img src=" http://ustatic.yuanshihui.com/attachment/201409/05/13/54094a33a9979_crop_270x200.jpg" title='拍车365' alt='拍车365'></a>
	        			 <a href="/deal/detail/dealId/647"><h3 title="拍车365">拍车365</h3></a>
			 			 		     <span><i class="bj"></i>北京市</span>
			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 			 <span><i class="engery"></i>移动终端</span>
						
	
			</div>
						<div class="project_caption">
						<h6>融资金额:<span>500万</span></h6>
												<h4><span style='width:100%'></span></h4>
								                <ul class="target clearfix">
		                		                	<li class="b_w"><b>100%</b><span>已达</span></li>
		                    <li class="c"><b>638万</b><span>预约金额</span></li>
		                    <li class="change_margin"><b>0天</b><span>剩余时间</span></li>
		                		                </ul>
					</div>
           </li>
		                      		                       
           <li class='chargin_margin'>
           	<div class="project_figure">
           		        <a class="content" href="/deal/detail/dealId/117"><b class="order"></b><img src=" http://ustatic.yuanshihui.com/attachment/201407/03/11/53b4c97e30aba_crop_270x200.jpg"  title='' alt=''></a>
	        			 <a href="/deal/detail/dealId/117"><h3 title="耳目网">耳目网</h3></a>
			 			 		     <span><i class="bj"></i>北京市</span>
			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 			 <span><i class="engery"></i>社区</span>
						</div>
			<div class="project_caption">
						<h6>融资金额:<span>50万</span></h6>
												<h4><span style='width:80%'></span></h4>
								                <ul class="target clearfix">
		                		                	<li class="b_w"><b>80%</b><span>已达</span></li>
		                    <li class="c"><b>40万</b><span>预约金额</span></li>
		                     	<li class="change_margin"><b>112天</b><span>剩余时间</span></li>
		                		                </ul>
					</div>
		   </li>
                              </div>
                    		  		  <div>
                               <li>
            <div class="project_figure">
            	        <a class="content" href="/deal/detail/dealId/293"><b class="order"></b><img src=" http://ustatic.yuanshihui.com/attachment/201408/06/17/53e1fb3022e4c_crop_270x200.jpg" title='乐壳手机壳在线定制平台' alt='乐壳手机壳在线定制平台'></a>
	        			 <a href="/deal/detail/dealId/293"><h3 title="乐壳手机壳在线定制平台">乐壳手机壳在线定制平台</h3></a>
			 			 						 						 						 						 						 						 						 						 		     <span><i class="bj"></i>上海市</span>
			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 			 <span><i class="engery"></i>移动应用</span>
						
	
			</div>
						<div class="project_caption">
						<h6>融资金额:<span>100万</span></h6>
												<h4><span style='width:100%'></span></h4>
								                <ul class="target clearfix">
		                		                	<li class="b_w"><b>100%</b><span>已达</span></li>
		                    <li class="c"><b>188万</b><span>预约金额</span></li>
		                    <li class="change_margin"><b>146天</b><span>剩余时间</span></li>
		                		                </ul>
					</div>
           </li>
		                      		                       <li>
            <div class="project_figure">
            	        <a class="content" href="/deal/detail/dealId/211"><b class="order"></b><img src=" http://ustatic.yuanshihui.com/attachment/201407/14/15/53c38b115c185_crop_270x200.jpg" title='连锁 特色文艺青年旅舍' alt='连锁 特色文艺青年旅舍'></a>
	        			 <a href="/deal/detail/dealId/211"><h3 title="连锁 特色文艺青年旅舍">连锁 特色文艺青年旅舍</h3></a>
			 			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 		     <span><i class="bj"></i>广东省</span>
			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 			 <span><i class="engery"></i>娱乐场所</span>
						
	
			</div>
						<div class="project_caption">
						<h6>融资金额:<span>60万</span></h6>
												<h4><span style='width:100%'></span></h4>
								                <ul class="target clearfix">
		                		                	<li class="b_w"><b>100%</b><span>已达</span></li>
		                    <li class="c"><b>82万</b><span>预约金额</span></li>
		                    <li class="change_margin"><b>156天</b><span>剩余时间</span></li>
		                		                </ul>
					</div>
           </li>
		                      		                       
           <li class='chargin_margin'>
           	<div class="project_figure">
           		        <a class="content" href="/deal/detail/dealId/24"><b class="order"></b><img src=" http://ustatic.yuanshihui.com/attachment/201404/01/20/533ab01b34773_crop_270x200.jpg"  title='' alt=''></a>
	        			 <a href="/deal/detail/dealId/24"><h3 title="手指医生">手指医生</h3></a>
			 			 						 		     <span><i class="bj"></i>天津市</span>
			 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 						 			 <span><i class="engery"></i>医疗设备</span>
						</div>
			<div class="project_caption">
						<h6>融资金额:<span>1000万</span></h6>
												<h4><span style='width:38%'></span></h4>
								                <ul class="target clearfix">
		                		                	<li class="b_w"><b>38%</b><span>已达</span></li>
		                    <li class="c"><b>380万</b><span>预约金额</span></li>
		                     	<li class="change_margin"><b>14天</b><span>剩余时间</span></li>
		                		                </ul>
					</div>
		   </li>
                              </div>
                    		</ul>
	  </div>
	</div>
</div>
<!--item-ecommend static-->
<div class="project_important">
    <h2 class="h2_borderTop"></h2>
    <div class="wrap">
        <div class="service_li">
            <ul class="clearfix" id="serviceAdd">
                                    <li>
                        <div class="img_title">
                            <i class="tv"></i>
                            线下路演
                        </div>
                        <div class="serviceAdd_figure">
                            <a href="/article/detail/id/28">
                                <img src="http://ustatic.yuanshihui.com/attachment/201409/09/18/540ed55fd3a1d.png" title='原始会“新天使时代”项目对接会' alt='原始会“新天使时代”项目对接会' width="270" height="180" />
                            </a>
                            <p><em>主题</em>
                                <a title="原始会“新天使时代”项目对接会" href="/article/detail/id/28">
                                    <span>原始会“新天使时代”项目对接会</span>
                                </a>
                            </p>
							<p><em>时间</em><span class="date">2014-09-12</span></p>
                            <p title="北京市朝阳区望京湖光北街金百万4层"><em>地点</em><span class="span_color">北京市朝阳区望京湖光北街金百万4层</span></p>
                        </div>
                        <div class="serviceAdd_caption">
                            <a href="/article/list/">查看更多<span>+</span></a>
                        </div>
                    </li>
                                                    <li>
                        <div class="img_title">
                            <i class="photo"></i>
                            媒体关注
                        </div>
                        <div class="serviceAdd_figure">
                            <a href="/article/detail/id/26">
                                <img src="http://ustatic.yuanshihui.com/attachment/201409/01/16/540429765af0a.png" title='央视以原始会为标杆报道众筹发展迅猛' alt='央视以原始会为标杆报道众筹发展迅猛' width="270" height="180" />
                            </a>
                            <p>
                                <a title="央视以原始会为标杆报道众筹发展迅猛" href="/article/detail/id/26">
                                    <span>央视以原始会为标杆报道众筹发展迅猛</span>
                                </a>
                            </p>

                            <p class="text_indent" title="在北京首届众筹峰会中，原始会、众筹网受到公众的关注，CCTV4更以原始会等为标杆来报道近年来众筹迅猛发展的态势。原始会CEO陶烨女士也接受cctv4的采访， 阐述了自己的态度和观点。">在北京首届众筹峰会中，原始会、众筹网受到公众的关注，CCTV4更以原始会等为标杆来报道近年来众筹迅猛发展的态势。原始会CEO陶烨女...</p>
                        </div>
                        <div class="serviceAdd_caption">
                            <a href="/article/list/t/2">查看更多<span>+</span></a>
                        </div>
                    </li>
                                                    <li class="chargin_margin">
                        <div class="img_title">
                            <i class="star"></i>
                            机构合作
                        </div>
                        <div class="serviceAdd_figure">
                            <a href="/article/detail/id/8">
                                <img src="http://ustatic.yuanshihui.com/attachment/201408/01/16/53db49469eebd.png" title='原始会与天交所达成战略合作意向' alt='原始会与天交所达成战略合作意向'  width="270" height="180" />
                            </a>

                            <p title="原始会与天交所达成战略合作意向">
                                <a title="原始会与天交所达成战略合作意向" href="/article/detail/id/8">
                                    <span>原始会与天交所达成战略合作意向</span>
                                </a>
                            </p>
                            <p class="text_indent" title="原始会负责人陶烨女士与天交所总裁初明强举行会面，双方就企业股权众筹融资方面内容进行交流，并达成战略合作意向">原始会负责人陶烨女士与天交所总裁初明强举行会面，双方就企业股权众筹融资方面内容进行交流，并达成战略合作意向</p>
                        </div>
                        <div class="serviceAdd_caption">
                            <a href="/article/list/t/3">查看更多<span>+</span></a>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>
</div>
<!--item-ecommend end-->
<!--feature-box static-->
<div class="project_important" style="display:none">
	<h1 class="borderTop">明星投资人</h1>
	<div class="wrap">
	<div class="star_li Js-needPop">	    
		<ul class="clearfix">
			<li data-name="徐小平" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/one.png?v=20140508" data-info="真格 天使投资基金创始人。著名留学、签证、职业规划和人生发展咨询专家。
曾任新东方教育科技集团董事、新东方文化发展研究院院长。" data-subject="成功投资项目 聚美优品" data-view="重点关注的领域tmt 在线教育 互联网金融  消费品">
				<div>
					<img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/one.png?v=20140508" />
					<h5>Aaron</h5>
					<p>天使投资人</p>
					<div class="project_des">
					  <p>预约3个项目</p> 
					  <p>成功投资一个项目</p>
					</div>
				</div>
			</li>
			<li>
				<div>
					<img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/two.png?v=20140508" />
					<h5>Aaron</h5>
					<p>天使投资人</p>
					<div class="project_des">
					  <p>预约3个项目</p> 
					  <p>成功投资一个项目</p>
					</div>
				</div>
			</li>
			<li>
				<div>
					<img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/three.png?v=20140508" />
					<h5>Aaron</h5>
					<p>天使投资人</p>
					<div class="project_des">
					  <p>预约3个项目</p> 
					  <p>成功投资一个项目</p>
					</div>
				</div>
			</li>
			<li class="chargin_margin">
				<div>
					<img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/four.png?v=20140508" />
					<h5>Aaron</h5>
					<p>天使投资人</p>
					<div class="project_des">
					  <p>预约3个项目</p> 
					  <p>成功投资一个项目</p>
					</div>
				</div>
			</li>
		</ul>
	  </div>
	</div>
</div>
<!--feature-box end-->
<!--success case-->
<div class="project_important">
	<h1 class="borderTop">成功案例</h1>
	<div class="wrap">
	<div class="project_li">
	    <a href="#" class="btn_pre_span successCase_span" id="Js-case-prev"><i class="btn_pre"></i></a>
	    <a href="#" class="btn_next_span successCase_span" id="Js-case-next"><i class="btn_next"></i></a>
		<ul class="successCase clearfix Js-succPop" id="Js-case">
			<div>
				<li data-name="fundly" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_01.jpg?v=20140508" data-info="是美国乃至全球最大、最活跃的众筹平台之一，专注于为非盈利性质类机构/活动筹款，为学校筹资建立休息室、为受飓风侵害的家庭捐款、为政治家筹集竞选经费，包罗万象。" data-num="1200万,4人,1200万,90天">
				   <img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_01.jpg?v=20140508" title='是美国乃至全球最大、最活跃的众筹平台之一，专注于为非盈利性质类机构/活动筹款，为学校筹资建立休息室、为受飓风侵害的家庭捐款、为政治家筹集竞选经费，包罗万象。' alt='fundly' />		
				</li>
				<li data-name="乐童音乐" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_02.jpg?v=20140508" data-info="乐童音乐是领先的基于互联网的整合音乐服务平台，也是一个垂直于音乐领域的众筹服务平台。" data-num="300万,10人,300万,30天">
				   <img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_02.jpg?v=20140508" title='乐童音乐是领先的基于互联网的整合音乐服务平台，也是一个垂直于音乐领域的众筹服务平台。' alt='乐童音乐' />					
				</li>
				<li data-name="北京自化" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_03.jpg?v=20140508" data-info="致力于打造世界顶尖的低收费网络学习平台，并为企业客户提供极具竞争力的培训方案。" data-num="420万,7人,420万,120天" class="chargin_margin">
				   <img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_03.jpg?v=20140508" title='致力于打造世界顶尖的低收费网络学习平台，并为企业客户提供极具竞争力的培训方案。' alt='北京自化' />				
				</li>
			</div>
			<div>
				<li data-name="悦咖啡" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_04.jpg?v=20140508" data-info="主营精品咖啡、红酒、西餐、艺术品展销特色餐厅" data-num="1100万,1人,1100万,120天">
				   <img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_04.jpg?v=20140508" title='主营精品咖啡、红酒、西餐、艺术品展销特色餐厅' alt='悦咖啡'/>		
				</li>
				<li data-name="盈华财富" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_05.jpg?v=20140508" data-info="提供理财产品，包括信托、有限合伙产品、P2P等业务" data-num="1000万,18人,1000万,60天">
				   <img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_05.jpg?v=20140508" title='提供理财产品，包括信托、有限合伙产品、P2P等业务' alt='盈华财富' />					
				</li>
				<li data-name="新华视讯APP" data-img="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_06.jpg?v=20140508" data-info="通过运营商平台播放视频的“运营商业务”模式（专网）和“自主运营平台”模式（开放式的移动互联网）来吸引目标群体，影响社会大众。" data-num="7600万,30人,7600万,60天" class="chargin_margin">
				   <img src="http://istatic.yuanshihui.com/angelpc/v2/static/images/index/successCase_06.jpg?v=20140508" title='通过运营商平台播放视频的“运营商业务”模式（专网）和“自主运营平台”模式（开放式的移动互联网）来吸引目标群体，影响社会大众。' alt='新华视讯APP' />				
				</li>
			</div>
		</ul>
	  </div>
	</div>
</div><!--success case end-->
<!--join-box static-->
<div class="aboutUs-box">
	<p class="wrap"><a href="/about/about">了解我们</a></p>
</div>
{% endblock %}