{% extends 'WebPageBundle:Layout:layout.html.twig' %}

{% block mainer %}
<link rel="stylesheet" type="text/css" href="http://istatic.yuanshihui.com/angelpc/css/new/login.css?v=20140508">

<!-- content static -->
<div  class="pass-bg">
	<div  class="pass-box wid315">
		<div  class="pass-title">用户登录</div>
		<form name="loginForm" wx-validator wx-validator-ajax action="/user/login" method="post">
			<p class="form-item">
				<label class="btn-base pass-lable label-un common-sprite">手机号</label>
				<input type="text" wx-validator-rule="required" class="text-input text-input-log" name="username" placeholder="请输入手机号">
			</p>
			<p class="form-item">
				<label class="btn-base pass-lable label-pw common-sprite">密码</label>
				<input type="password"  wx-validator-rule="required"  class="text-input text-input-log" name="password" placeholder="请输入密码">
			</p>
									<div class="login-form-ipt clearfix" id="needCode" style="display:none;">
							<input id="codeInp" class="ie6fixpic" name="code" type="text" placeholder="请输入验证码"/>
                <a href="javascript:void(0);"><img src="/verify/code" id="codeimg"></a>
			</div>
			<p class="form-item">
				<input type="submit" class="btn-submit" value="登录">
				<a href="/user/register" class="btn-reg">注册</a><a href="/findpwd/index" class="fgtpwd">忘记密码？</a></p>
		</form>
	</div>
</div>
<!-- content end --> 
{% endblock %}

